.confirmContainer {
  background-color: rgba(248, 179, 0, 0.05);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.confirmTitle {
  color: #F8B300;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.confirmText {
  font-size: 15px;
  line-height: 1.5;
}
