.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 200px; // ボタンの最大幅を設定
}

.button {
  display: block;
  width: 100%; // ボタンの幅を100%に設定
  padding: 12px 24px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  text-decoration: none;
  text-align: center; // テキストを中央揃えに
}

.button:hover {
  background-color: #115293;
}

.button.secondary:hover {
  background-color: #9a0036;
}
